this is free memory available in machine {{ansible_facts.memfree_mb }}
and fqdn of machine is {{ ansible_facts.fqdn}}
architecture of machine is {{ansible_facts.machine}}
devices information {{ansible_facts.devices}}
